/.venv
/.env
__pycache__/
*.pyc
*.CSV
*.csv
.DS_Store
.idea/
.vscode/
/Devred
/eans-1
/eans-2
/eans-3
/eans-4
/eans-5
/eans-6
/eans-7
/eans-8
/eans-9
/eans-10
/logs/
/data/*
credentials-bzc.json
credentials-regardbeauty.json
